<!doctype html>
<html lang="en">
<head>
    <meta charset="utf-8">
    <title>{{page_title}}</title>
    <meta name="description" content="{{meta_description}}"/>
    <link rel="stylesheet" href="http://yui.yahooapis.com/pure/0.6.0/pure-min.css">
    <link rel="stylesheet" href="/css/style.css">
</head>
<body>
<div id="layout">
    <div id="menu">
        <div class="pure-menu">
            <ul class="pure-menu-list">
                {% for item in menuItems %}
                <li class="pure-menu-item"><a href="{{ item['href'] }}" class="pure-menu-link">{{ item['text'] }}</a></li>
                {% endfor %}
            </ul>
        </div>
    </div>
    <div id="main">
        <div class="content">
            {% block content %}
            {% endblock %}
        </div>
    </div>
    <p>Execution Time: {{execution_time}}</p>
</div>
</body>
</html>